#di6{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcST-PCP1nYvMzfdvDupWWp6qlKPzFcux3q4h3hVTE-VTQ&usqp=CAU&ec=48665701');
    background-size: cover;
    margin-right: 18cm;
    margin-top: 3cm;
    border-style: groove;
    height: 8cm;
    width: 10cm;
    border-radius: 0.5cm;

  } 
  #div1{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpJ1RCw2idLyB4sC1lZHFQ9BMIjFLPW4lMSSrViPs32w&usqp=CAU&ec=48665701");
    background-size: cover;
  }